<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Adds the folder "local-nuget-source" in root of the project as a nuget source. 
         Projects that build a nuget package publish in this folder so dependent projects can use the local build packages -->
    <add key="Local-sauter" value="local-nuget-source" />
    
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>