# Note: ci.yaml and release.yaml have some similar steps
#       If updating dotnet-version, set in both.

name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x' # SDK Version to use; x will use the latest version of the channel

    - name: Run dotnet build
      run: dotnet build --configuration Debug -maxcpucount:1
    - name: Run dotnet test
      run: dotnet test --no-build

    # Below steps run only on CI, not release
    - uses: actions/upload-artifact@v2
      with:
        name: saunter-bin
        path: ./src/Saunter/bin
